{{- /*
Renders the site navigation. The sections and their order are hardcoded below
rather than driven by site.Menus.

@context {page} . The is-current-anchor page.

@example: {{ partial "menu.html" . }}
*/}}

{{- $page := . }}

{{- $makesSection := site.GetPage "section" "makes" }}
{{- $studiesSection := site.GetPage "section" "studies" }}
{{- $equipmentSection := site.GetPage "section" "equipment" }}
{{- $moreSection := site.GetPage "section" "more" }}

  <nav>
    <details open>
      <summary><a href="{{ $makesSection.Permalink }}">Makes</a></summary>
      <ul>
        {{ range $makesSection.Pages }}
          <li><a href="{{ .Permalink }}"{{ if eq $page.Permalink .Permalink }} class="is-current-anchor"{{ end }}>{{ .Title }}</a></li>
        {{ end }}
      </ul>
    </details>
    <details open>
      <summary><a href="{{ $studiesSection.Permalink }}">Case studies</a></summary>
      <ul>
        {{ range $studiesSection.Pages }}
          <li><a href="{{ .Permalink }}"{{ if eq $page.Permalink .Permalink }} class="is-current-anchor"{{ end }}>{{ .Title }}</a></li>
        {{ end }}
      </ul>
    </details>
    <details open>
      <summary><a href="{{ $equipmentSection.Permalink }}">Equipment</a></summary>
      <ul>
        {{ range $equipmentSection.Pages }}
          <li><a href="{{ .Permalink }}"{{ if eq $page.Permalink .Permalink }} class="is-current-anchor"{{ end }}>{{ .Title }}</a></li>
        {{ end }}
      </ul>
    </details>
    <details open>
      <summary><a href="{{ $moreSection.Permalink }}">More</a></summary>
      <ul>
        {{ with site.GetPage "/submit" }}
          <li><a href="{{ .Permalink }}"{{ if eq $page.Permalink .Permalink }} class="is-current-anchor"{{ end }}>{{ .Title }}</a></li>
        {{ end }}
        <li><a rel="external" href="https://app.makespace.org/">Members' app</a></li>
        <li><a rel="external" href="https://docs.google.com/forms/d/e/1FAIpQLScz7JjZSpS_MpE5bII2uM5WkyXrmbD4KAeH4N_RpPIu-HOudQ/viewform?usp=pp_url">Raise a trouble ticket</a></li>
        <li><a rel="external" href="https://docs.google.com/forms/d/e/1FAIpQLSeXnBIYXfBZzLjdmRYb3W3K3F-Fx9iocXMJtf12hIIxxAxypw/viewform?usp=pp_url">Report an incident or injury</a></li>
        {{ range $moreSection.Pages }}
          <li><a href="{{ .Permalink }}"{{ if eq $page.Permalink .Permalink }} class="is-current-anchor"{{ end }}>{{ .Title }}</a></li>
        {{ end }}
      </ul>
    </details>
  </nav>

