{{ define "main" }}
  <h1>{{ .Title }}</h1>

  {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := .Date | time.Format ":date_long" }}
  <ul class="byline">
    <li><time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time></li>
    {{ range .Params.members }}
    <li>{{ . }}</li>
    {{ end }}
  </ul>

  <div class="make-photos">
    {{ range .Params.images }}
      {{ $name := . }}
      {{ with resources.Get $name }}
      {{ $new := .Resize "1000x" }}
      <div class="make-photo">
        <img src="{{ $new.RelPermalink }}" width="{{ $new.Width }}" height="{{ $new.Height }}" alt="3D printed components" loading="lazy">
      </div>
      {{ end }}
    {{ end }}
  </div>

  {{ .Content }}

  <div>
    <button class="needs-js" onclick="shareContent()">Share</button>
  </div>

  <script>
    async function shareContent() {
      if (!navigator.share) {
        return;
      }
      try {
        {{- $name := index .Params.images 0 }}
        {{- $image := resources.Get $name }}
        const imageResponse = await fetch('{{ $image.RelPermalink }}');
        const imageBlob = await imageResponse.blob();
        const imageFile = new File([imageBlob], '{{ $name }}', { type: imageBlob.type });

        await navigator.share({
          title: '{{ .Title }}',
          url: window.location.href,
          files: [imageFile]
        });
      } catch (error) {
        console.error('Error sharing:', error);
      }
    }
  </script>

  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
{{ end }}

