{{ define "main" }}
  <h1>{{ .Title }}</h1>

  {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := .Date | time.Format ":date_long" }}
  <h2>Date</h2>
  <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>

  <h2>Makers</h2>
  <ul>
  {{ range .Params.members }}
    <li>{{ . }}</li>
  {{ end }}
  </ul>

  <h2>Photos</h2>
  {{ range .Params.images }}
    {{ $name := . }}
    {{ with resources.Get $name }}
    {{ $new := .Resize "100x" }}
    <img src="{{ $new.RelPermalink }}" width="{{ $new.Width }}" height="{{ $new.Height }}"></img>
    {{ end }}
  {{ end }}

  <noscript>
    <style>
      .share-button { display: none !important; }
    </style>
  </noscript>
  <button class="share-button" onclick="shareContent()">Share</button>

  {{ .Content }}

  <script>
    async function shareContent() {
      if (!navigator.share) {
        return;
      }
      try {
        {{- $name := index .Params.images 0 }}
        {{- $image := resources.Get $name }}
        const imageResponse = await fetch('{{ $image.RelPermalink }}');
        const imageBlob = await imageResponse.blob();
        const imageFile = new File([imageBlob], '{{ $name }}', { type: imageBlob.type });

        await navigator.share({
          title: '{{ .Title }}',
          url: window.location.href,
          files: [imageFile]
        });
      } catch (error) {
        console.error('Error sharing:', error);
      }
    }
  </script>

  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
{{ end }}

